<div [formGroup]="formGroup">
  <mat-form-field class="full-width">
    <input  matInput
            [placeholder]="title"
            [name]="controlName"
            [formControlName]="controlName">
    <mat-error *ngIf=" validate.hasErrorValidate(formControl,'required')">Campo obrigatorio</mat-error>
    <mat-error *ngIf=" validate.hasErrorValidate(formControl,'minlength')">Necessario no minimo {{validate.lengthValidate(formControl, 'minlength')}} caracteres</mat-error>
    <mat-error *ngIf=" validate.hasErrorValidate(formControl, 'maxlength')">Campo aceita no maixmo {{validate.lengthValidate(formControl, 'maxlength')}} caracters</mat-error>
  </mat-form-field>
</div>
