<div [formGroup]="formGroup">
  <mat-form-field class="full-width">
    <textarea matInput
              placeholder="Descrição"
              name="description"
              formControlName="description">
    </textarea>
    <mat-error *ngIf=" validate.hasErrorValidate(formControl,'required')">Campo obrigatorio</mat-error>
    <mat-error *ngIf=" validate.hasErrorValidate(formControl,'minlength')">Necessario no minimo {{validate.lengthValidate(formControl, 'minlength')}}  caracteres</mat-error>
    <mat-error *ngIf=" validate.hasErrorValidate(formControl, 'maxlength')">Campo aceita no maixmo {{validate.lengthValidate(formControl, 'maxlength')}}  caracters</mat-error>
  </mat-form-field>
</div>

